################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vscode
/.vs
/TIBERIANDAWN/Win32
/REDALERT/Win32
/CnCTDRAMapEditor/obj
/bin/Win32
/CnCTDRAMapEditor/bin
